<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
        <h1 class="savedArt" style="color:#0a0035"> Saved Articles </h1>
        <p class="savedArt"> Your Saved Articles </p>
        
    </div>

    {{{ articles }}}
    {{!-- {{#each articles}}
    <div data-_id={{this._id}} class="card">
      <div class="card-header">
        <h3>
          <a class="article-link" target="_blank" rel="noopener noreferrer" href="{{this.url}}">{{this.headline}}</a>
          <a class="btn btn-danger delete">Delete From Saved</a>
          <a class="btn btn-info notes">Article Notes</a>
        </h3>
      </div>
      <div class="card-body">{{this.summary}}</div>
    </div>
  {{/each}} --}}
</div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudfare.com/ajax/libs/bootbox.js/4.4.0.bootbox.min.js"></script>
<script src="/public/javascript/saved.js"></script>

